.github/

#docker in root project foolder "APPPROJECT"
.dockerignore
docker-compose.yml

#node
backend/node_modules/
dist/
.env
.env.local
.env.*.local   
*.log
.env.example
.env.example.local


# OS
.DS_Store


# tests
coverage/


